
<!--@css(/layout/basic/css/ap-footer.css)-->
<div class="bottom-nav ap-fab-group" ez-module="bottom-navigation" data-ez="contents-07fah5x-1">
    <ul class="bottom-nav__tabBar" style="display: none;">
        <li><button type="button" class="btnNav eNavFold"><i aria-hidden="true" class="icon icoNav"></i>네비게이션</button></li>
        <li><button type="button" class="btnSearch eSearch"><!--@import(/svg/icon-search.html)-->검색</button></li>
        <li><a href="/"><!--@import(/svg/icon-home.html)-->홈</a></li>
        <li module="Layout_stateLogon"><a href="/order/basket.html"><!--@import(/svg/icon-cart.html)-->Cart <span class="count {$basket_count_display|display} {$basket_count_display_class}"><span class="{$basket_count_class}">{$basket_count}</span></span></a></li>
        <li module="Layout_stateLogoff"><a href="/order/basket.html"><!--@import(/svg/icon-cart.html)-->Cart <span class="count {$basket_count_display|display} {$basket_count_display_class}"><span class="{$basket_count_class}">{$basket_count}</span></span></a></li>
        <li><a href="/myshop/index.html"><!--@import(/svg/icon-user.html)-->마이쇼핑</a></li>
    </ul>
    <div class="bottom-nav__top ap-floating">
      <a href="javascript:history.back();" class="ap-floating__back" title="뒤로 가기"><!--@import(/svg/icon-arrow-left.html)--></a>
      <a href="javascript:history.forward();" class="ap-floating__foward" title="앞으로 가기"><!--@import(/svg/icon-arrow-right.html)--></a>
      <!-- <a href="https://pf.kakao.com/_Rkfld/chat" class="ap-floating__top ap-floating__cs" target="_blank"><img src="/web/img/icon/icon-counseling.svg" alt="카카오톡 플친 1:1 상담하기"></a> -->
      <!-- <a href="#wrap" class="ap-floating__top" title="위로 가기">@import(/svg/icon-arrow-up.html)TOP</a> -->
      <button class="ap-fab ap-fab--top" id="topBtn" aria-label="맨 위로">
        <svg class="ap-fab__ring" width="52" height="52" viewBox="0 0 52 52">
          <circle class="ap-fab__ring-bg" cx="26" cy="26" r="23"/>
          <circle class="ap-fab__ring-progress" id="topProgress" cx="26" cy="26" r="23"/>
        </svg>
        <span class="ap-fab__arrow"><!--@import(/svg/icon-arrow-up.html)--></span>
      </button><!-- //ap-fab--top -->
      <button onclick="window.open('https://pf.kakao.com/_Rkfld/chat', '_blank')" class="ap-fab ap-fab--kakao ap-floating__cs" aria-label="카카오톡 상담">
        <!--@import(/svg/icon-chat.html)-->
      </button><!-- //ap-fab--kakao -->
      <a href="#wrap" class="ap-floating__top ap-floating__down" title="아래로 가기">DOWN<!--@import(/svg/icon-arrow-down.html)--></a>
    </div>
</div>

<!-- ⑪ FOOTER -->
<footer class="ap-footer" module="Layout_footer">
  <!-- TOP ROW: CS + Nav columns -->
  <div class="ap-footer__top">
    <!-- CS -->
    <div class="ap-footer__cs">
      <a href="/" class="ap-footer__logo"><img src="/web/img/logo.svg" alt="{$mall_name}"></a>
      <div class="ap-footer__section-label" style="margin-top:28px;">CS</div>
      <p class="ap-footer__cs-info">제품 문의 및 A/S는 카카오톡 신청</p>
      <a href="https://pf.kakao.com/_exnixjb" target="_blank" class="ap-footer__cs-btn">1:1 대화하기</a>
      <p class="ap-footer__cs-info">대표번호: 080-541-5000</p>
      <p class="ap-footer__cs-info">운영시간: AM 09:00 ~ PM 04:00 (토·일 및 공휴일 휴무)</p>
      <p class="ap-footer__cs-info">점심시간: PM 12:30 ~ PM 01:30</p>
    </div>

    <!-- Nav columns -->
    <div class="ap-footer__nav-cols">
      <div class="ap-footer__col">
        <div class="ap-footer__section-label">Journal</div>
        <ul>
          <li><a href="#">큐레이션</a></li>
          <li><a href="#">제품 가이드</a></li>
          <li><a href="#">새소식</a></li>
          <li><a href="#">이벤트</a></li>
        </ul>
      </div>
      <div class="ap-footer__col">
        <div class="ap-footer__section-label">Support</div>
        <ul>
          <li><a href="#">A/S</a></li>
          <li><a href="#">정품 등록</a></li>
          <li><a href="#">매장 안내</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
      <div class="ap-footer__col">
        <div class="ap-footer__section-label">Brand</div>
        <ul>
          <li><a href="#">본질의 여정</a></li>
          <li><a href="#">기술과 소재</a></li>
          <li><a href="#">가치있는 흔적</a></li>
          <li><a href="#">더 나은 세상</a></li>
        </ul>
      </div>
    </div>

  </div><!-- //ap-footer__top -->

  <!-- BOTTOM ROW: Company + Media/Bank -->
  <div class="ap-footer__bottom-row">

    <!-- Company -->
    <div class="ap-footer__company">
      <div class="ap-footer__section-label">Company</div>
      <p class="ap-footer__legal">상호: {$company_name} &nbsp;|&nbsp; 대표: {$president_name}</p>
      <p class="ap-footer__legal">주소: {$mall_zipcode}	{$mall_addr1} {$mall_addr2}</p>
      <p class="ap-footer__legal">사업자등록번호: {$company_regno} &nbsp;<a href="#" class="ap-footer__legal-link">{$biz_no_link}</a></p>
      <p class="ap-footer__legal">통신판매업 신고: {$network_regno}</p>
      <p class="ap-footer__legal">개인정보관리책임자: {$cpo_name} ({$cpo_email})</p>
      <div class="ap-footer__policy-links">
        <a href="/member/privacy.html">개인정보처리방침</a>
        <a href="/member/agreement.html">이용약관</a>
        <a href="/shopinfo/guide.html">이용안내</a>
      </div>
    </div>

    <!-- Media + Bank -->
    <div class="ap-footer__right">
      <div class="ap-footer__media">
        <div class="ap-footer__section-label">Media</div>
        <div class="ap-footer__sns">
          <a href="https://www.instagram.com/insooth_official/" target="_blank">Instagram</a>
          <a href="https://www.youtube.com/@insooth.official1199" target="_blank">YouTube</a>
        </div>
      </div>
      <div class="ap-footer__bank" >
        <div class="ap-footer__section-label">Bank</div>
        <div>
          <p class="ap-footer__legal">기업은행 002-000170-04-070 &nbsp;|&nbsp; 예금주: {$company_name}</p>
        </div>
      </div>
    </div>

  </div><!-- //ap-footer__bottom-row -->

  <!-- CAFE24 BAR -->
  <div class="ap-footer__cafe24">
    <span class="ap-footer__cafe24-logos">cafe24 &nbsp;·&nbsp; KG이니시스</span>
    <span class="ap-footer__cafe24-text">고객님은 안전거래를 위해 결제 시 저희 쇼핑몰에서 가입한 구매안전 서비스를 이용하실 수 있습니다.</span>
    <a href="#" class="ap-footer__cafe24-btn">서비스가입사실확인</a>
  </div>

</footer>