<aside id="aside" module="layout_slidePackage" class="RTMB" data-ez="contents-0lkigu0-1">
  <!--@css(/layout/basic/css/ap-sidebar.css)-->
  <!--@css(/layout/basic/css/slideMenu.css)-->
  <!--@js(/layout/basic/js/slide_menu.js)-->
  <nav class="navigation-menu" role="navigation">
    <!-- <div class="navigation_state" data-ez-group="top-util-menu" data-ez-role="list">
			<a data-ez-item="join" module="Layout_statelogoff" href="/member/agreement.html">회원가입</a>
			<a data-ez-item="login" module="Layout_statelogoff" href="/member/login.html">로그인</a>
			<a data-ez-item="modify" module="Layout_stateLogon" href="/member/modify.html">내정보수정</a>
			<a data-ez-item="logout" module="Layout_stateLogon" href="{$action_logout}">로그아웃</a>
			<a data-ez-item="order" href="/myshop/order/list.html">주문조회</a>
			<a data-ez-item="mypage" module="Layout_stateLogon" href="/myshop/index.html">마이페이지</a>
			<a data-ez-item="recent" href="/product/recent_view_product.html">최근본상품</a>
		</div> --><!-- //navigation_state -->

    <div data-ez-module="menu-side/1">
      <div id="slideCateList" class="navigation-menu__category">
        <ul id="slide_add_category">
          <li><a href="/product/list.html?cate_no=24" class="view">HIKE&TREK</a>
            <ul class="sub_cate01">
              <li><a href="/product/list.html?cate_no=24" class="view">전체</a></li>
              <li><a href="/product/list.html?cate_no=24" class="view">배낭</a></li>
              <li><a href="/product/list.html?cate_no=24" class="view">등산스틱</a></li>
              <li><a href="/product/list.html?cate_no=24" class="view">액세서리</a></li>
            </ul>
          </li>
          <li><a href="/product/list.html?cate_no=26" class="view">CAMP&REST</a>
            <ul class="sub_cate01">
              <li><a href="/product/list.html?cate_no=26" class="view">전체</a></li>
              <li><a href="/product/list.html?cate_no=26" class="view">체어</a></li>
              <li><a href="/product/list.html?cate_no=26" class="view">테이블</a></li>
              <li><a href="/product/list.html?cate_no=26" class="view">액세서리</a></li>
            </ul>
          </li>
          <li><a href="/board/free/list.html?board_no=1" class="view">JOURNAL</a>
            <ul class="sub_cate01">
              <li><a href="/board/free/list.html?board_no=1" class="view">큐레이션</a></li>
              <li><a href="/board/free/list.html?board_no=1" class="view">제품가이드</a></li>
              <li><a href="/board/free/list.html?board_no=1" class="view">새소식</a></li>
            </ul>
          </li>
          <li><a href="/board/free/list.html?board_no=3" class="view">SUPPORT</a>
            <ul class="sub_cate01">
              <li><a href="/support/warranty.html" class="view">A/S</a></li>
              <li><a href="/support/authentication/index.html" class="view">정품 등록</a></li>
              <li><a href="/support/where-to-buy.html" class="view">매장 안내</a></li>
              <li><a href="/support/faq.html" class="view">FAQ</a></li>
            </ul>
          </li>
          <li><a href="/board/free/list.html?board_no=1" class="view">BRAND</a>
            <ul class="sub_cate01">
              <li><a href="/about/insooth_story.html" class="view">본질의 여정</a></li>
              <li><a href="/about/technology.html" class="view">기술과 소재</a></li>
              <li><a href="/about/history.html" class="view">가치있는 흔적</a></li>
              <li><a href="/about/share_value.html" class="view">더 나은 세상</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div><!-- //menu-side/1 -->

    <!-- <div class="cboth slide_line"></div>

    <div module="Layout_BoardInfo" class="navigation-menu__board">
      <div class="title">고객센터<button type="button" class="icoCategory">펼침</button></div>
      <ul class="categoryList" style="display:none;">
        <li class="menu"><a href="{$link_board_list}">{$board_name}</a> {$board_adult_icon}</li>
        <li class="menu"><a href="{$link_board_list}">{$board_name}</a> {$board_adult_icon}</li>
      </ul>
    </div> --><!-- //tab_community -->

    <div module="Layout_multishopList">
      <button type="button" class="toggle">{$current_language} <i aria-hidden="true"
          class="icon icoArrowBottom"></i></button>
      <ul module="Layout_multishopListitem">
        <li class="{$selected_class}">
          <a href="//{$shop_domain}/">{$locale_language}</a>
        </li>
        <li class="{$selected_class}">
          <a href="//{$shop_domain}/">{$locale_language}</a>
        </li>
      </ul>
    </div>
  </nav>
  <button type="button" class="btnClose"><i aria-hidden="true" class="icon icoClose"></i>닫기</button>
</aside>
<!--#ez="1/2"-->

<script>
const menuBtn = document.querySelector('.ap-nav__menu');
const closeBtn = document.querySelector('#aside .btnClose');

menuBtn?.addEventListener('click', function() {

  if (document.body.classList.contains('expand')) {
    setTimeout(() => {
      closeBtn?.click();
    }, 0);
  }

});
</script>